<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LandLystDB" connectionString="Data Source=DATABASESEVER20;Initial Catalog=Test3;Persist Security Info=True;User ID=sa;Password=Kode123!" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>